<div class="topnav">
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
		<i class="fa fa-bars"></i>
	  </a>
	  <a class="active" href="#home">SNJ</a>
	  <a href="#contact">Contact</a>
	  <a href="#about">About</a>
	  
</div>
<div class="container">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <p><a href="/login" class="btn btn-success btn-lg">Iniciar</a></p>
</div>
