<div class="topnav">
      <a class="active" href="/">SNJ</a>
	  <span><a href="/login" class="row active">Iniciar</a></span>
	  
</div>
<div class="container">
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    <form action="/login" method="get">
            <div class="row">
                <label></label>
                <span class="bg"></span>
                <input type="submit" class="btn" value="Iniciar">
            </div>
    </form>
</div>
